__pycache__/
guidelines.md
*.pdb
*.gro
*.zip
*.tpr
*.edr
*.log
*.trr
*.swp
*.xvg
*.xtc
*.offsets
*.cpt
log*.*
!logo.png
.ipynb_checkpoints/
biobb_wf_md_setup_api/notebooks/*.png
biobb_wf_md_setup_api/notebooks/*.gif
biobb_wf_md_setup_api/notebooks/*.web.ipynb
biobb_wf_md_setup_api/notebooks/*.docs.ipynb
*.old.ipynb
*.bk.ipynb
\#*\#